body {
  background: #f4f4f4;
}
html {
  margin-top: 0 !important;
  background: #f4f4f4;

  //汎用
  .pc {
    display: block;
    @media screen and (max-width: 990px) {
      display: none;
    }
  }
  .sp {
    display: none;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }
  //内部リンク
  .more-link {
    text-align: right;
    a {
      color: #333;
      font-weight: bold;
      font-family: "DotGothic16", sans-serif;
      letter-spacing: 1px;
      &:hover {
        opacity: 0.7;

        &::after {
          content: ">>>";
          color: #f00;
        }
      }
    }
  }
  //card view fuwatt
  .main-box {
    .load-up {
      opacity: 0;
      transform: translateY(100px) /*スクロールアップする距離*/;
      transition: all 1s /*処理にかかる時間*/;
    }
    .load-up.done,
    .load-fade.done {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  //tag
  .tag-box {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    .tags {
      font-family: "DotGothic16", sans-serif;
      background-color: #333;
      color: #fff;
      padding: 1px 10px;
      display: inline-block;
      border-radius: 6px;
      cursor: pointer !important;

      a {
        display: block;
        color: #fff;
        text-decoration: none;
        &::first-letter {
          color: #ffa2a2;
        }
      }
    }
  }
}

header {
  margin-top: 0 !important;
  background: #333333;
  font-family: "DotGothic16", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
  .container {
    @media screen and (max-width: 990px) {
      vertical-align: middle;
    }
    h1 {
      text-align: center;
      font-weight: bold;
      a {
        color: #fff;
        text-decoration: none;
        font-style: 32px !important;
      }
    }
  }
  .Search-box {
    @media screen and (max-width: 990px) {
      text-align: center;
    }
  }
}

footer {
  background: #333;

  .container {
    height: 30px;
    text-align: center;
    small {
      color: #fff;
    }
  }

  .page-top {
    position: fixed;
    left: 15px;
    z-index: 90;
    bottom: 70px;
    content: "";
    background: url(../img/top.png) #ffa2a2 no-repeat center;
    background-size: 22px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .menu-btn {
    position: fixed;
    bottom: 30px;
    left: 15px;
    z-index: 80;
    background: #8fc6ff;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    span {
      content: "";
      display: block;
      height: 2px;
      width: 20px;
      border-radius: 3px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 21px;
      margin: 0 auto;
      &:before,
      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 20px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &:before {
        bottom: 7px;
      }
      &:after {
        top: 7px;
      }
    }
    #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
      transition: all 300ms 0s ease;
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
      transition: all 300ms 0s ease;
    }
    .menu-content {
      width: 100%;
      height: 190px;
      position: fixed;
      bottom: -40%;
      z-index: 5;
      margin-left: -15px;
      background-color: #333;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      transition: all 300ms 0s ease;
      .tag-box {
        width: 80%;
        height: 80%;
        position: absolute;
        right: 0;
        left: 45px;
        bottom: 15px;
        margin: 0 auto;
        overflow-y: scroll;
        background-color: #fff;
        .tags {
          a {
            text-decoration: none;
            font-family: "DotGothic16", sans-serif;
            color: #fff;
            display: block;
            &::first-letter {
              color: #ffa2a2;
            }
          }
        }
      }
    }
    #menu-btn-check:checked ~ .menu-content {
      bottom: 0; /*メニューを画面内へ*/
    }
  }
  .footer-prof {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 20px;
    background-image: url(../img/prof.png);
    background-size: cover;
  }
}

main {
  background: #f4f4f4;

  padding-top: 100px;
  @media screen and (max-width: 990px) {
    padding-top: 140px;
  }
  .container.contentsArea {
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 990px) {
      max-width: 900px;
      padding: 10px;
    }
    .main-title,
    .side-title {
      font-family: "DotGothic16", sans-serif;
    }
    .main-box {
      @media screen and (max-width: 990px) {
        padding-left: 5px;
      }
      .main-card {
        max-width: 100%;
        background-color: #fff;
        padding: 20px 25px;
        border-radius: 25px;
        margin-bottom: 40px;
        @media screen and (max-width: 990px) {
          padding: 20px 10px;
        }
        &:nth-of-type(2n + 1) {
          box-shadow: 10px 15px 0px #ffa2a2;
        }
        &:nth-of-type(2n) {
          box-shadow: 10px 15px 0px #8fc6ff;
        }
        .cardTop {
          font-family: "DotGothic16", sans-serif;

          margin-bottom: 10px;
          border-bottom: 1px solid #333;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          .main-title {
            position: relative;
            font-size: 21px;

            a {
              width: 100%;
              color: #333;
              text-decoration: none;
            }
            &:hover {
              a {
                opacity: 0.7;
              }
            }
            // &::after {
            //   position: absolute;
            //   content: "";
            //   background-image: url(../img/search-icon.png);
            //   background-repeat: no-repeat;
            //   width: 30px;
            //   height: 30px;
            // }
          }
        }
        .tag-box {
          border: none;
          padding: 0;
          .tags {
            margin-right: 5px;
          }
        }
        .excerptText {
          margin-bottom: 10px;
        }
      }
    }
    .side-box {
      position: relative;
      .side {
        position: fixed;
        width: 300px;
        .side-title {
          text-align: center;
          font-weight: bold;
        }
        .tag-box {
          .tags {
            margin-right: 5px;
            &:hover {
              transform: scale(1.1);
              a {
                color: #ffa2a2;
              }
            }
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// カテゴリー
.categoryPage {
  .categorysResults {
    font-family: "DotGothic16", sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    span {
      color: #ffa2a2;
      text-decoration: underline;
    }
  }
}
.categoryPage,
.searchPage {
  .contentsArea {
    .main-box {
      .notFound {
        font-size: 42px;
        font-family: "DotGothic16", sans-serif;
        font-weight: bold;
      }
    }
  }
}

//シングルページ
.singlePage {
  .mainText {
    h2 {
      padding: 0.5rem 1rem;
      border-left: 7px double #8fc6ff;
      background: #f4f4f4;
      font-family: "DotGothic16", sans-serif;
      font-size: 18px;
      font-weight: bold;
      margin-top: 5rem;
    }

    h3 {
      font-family: "DotGothic16", sans-serif;
      font-size: 20px;
      position: relative;
      border-top: solid 2px #333;
      border-bottom: solid 2px #333;
      background: #f4f4f4;
      line-height: 1.4;
      padding: 0.4em 0.5em;
      margin: 2em 0 0.5em;
      &::after {
        position: absolute;
        font-family: "DotGothic16", sans-serif;
        background: #333;
        color: #fff;
        left: 0px;
        bottom: 100%;
        border-radius: 5px 5px 0 0;
        padding: 5px 7px 3px;
        font-size: 0.7em;
        line-height: 1;
        letter-spacing: 0.05em;
      }
    }
    .point {
      &::after {
        content: "POINT";
      }
    }
    .tips {
      &::after {
        content: "TIPS";
      }
    }
    .caution {
      &::after {
        content: "CAUTION";
      }
    }
  }
  ul.list {
    padding: 0;
    font: 14px/1.6 "arial narrow", sans-serif;
    list-style: none;
    width: 370px;
    @media screen and (max-width: 990px) {
      width: 100%;
    }
  }
  ul.list li {
    position: relative;
    padding: 0.5em 1em 0.5em 2.3em;
    font-family: "DotGothic16", sans-serif;
    margin-bottom: 5px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px dotted #333;
  }
  ul.list li:after,
  ul.list li:before {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  ul.list li:before {
    top: 0.7em;
    left: 0.2em;
    width: 12px;
    height: 12px;
    border: 2px solid #8fc6ff;
  }
  ul.list li:after {
    top: 0.9em;
    left: 0.7em;
    width: 14px;
    height: 14px;
    background: rgba(255, 162, 168, 0.5);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  .img_box {
    text-align: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 20px;

      @media screen and (max-width: 990px) {
        width: 100%;
      }
    }
    #grayDisplay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100% !important;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 100;
    }

    #grayDisplay img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 65%;
      object-fit: contain;
      border-radius: 20px;
      @media screen and (max-width: 990px) {
        max-width: 90%;
        height: auto;
      }
    }
  }
  .codeExample {
    margin: 20px 0;
    ul {
      list-style: none;
      padding: 20px 0;
      padding-left: 20px;
      background-color: #282c34;
      margin-left: 0;
      margin-right: 0;
      overflow-x: auto;
      white-space: nowrap;
      border-radius: 20px;
      @media screen and (max-width: 990px) {
        padding-left: 5px;
      }
      li {
        // overflow-wrap: break-word;
        color: #fff;
        font-size: 12px;
      }
    }
  }
}

//検索ページ
.searchPage {
  .searchResults {
    font-family: "DotGothic16", sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    span {
      color: #ffa2a2;
      text-decoration: underline;
    }
  }
}
